.App {
  text-align: center;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

ul{
  padding: 12px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  list-style-position: inside;

}


h1{
  font-size: 10;
  color: green;
  align-items: center;
}

button{
  color: red;
  width: 150px;

}

body {
  padding: 50px;
  background-color: #66CCFF;
  font-family: sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
